/Netbeans-LTPT/JavaApplication4/nbproject/private/
/Netbeans-LTPT/RMI2/nbproject/private/
/Netbeans-LTPT/RMI2/build/
/Netbeans-LTPT/JavaApplication6/nbproject/private/
/Netbeans-LTPT/JavaApplication6/build/
/Netbeans-LTPT/PhamVanOanhLTPT/nbproject/private/
/Netbeans-LTPT/PhamVanOanhLTPT/build/
/Netbeans-LTPT/VoTanThan/VoTanThan/build/
/Netbeans-LTPT/VoTanThan/VoTanThan/nbproject/private/
/Netbeans-LTPT/WS/nbproject/private/
/Netbeans-LTPT/WS/dist/
/Netbeans-LTPT/WS/build/
/Netbeans-LTPT/Client/nbproject/private/
/Netbeans-LTPT/Client/build/
/Netbeans-LTPT/WebApplication1/nbproject/private/
/Netbeans-LTPT/WebApplication1/build/
/Netbeans-LTPT/WebApplication1/dist/